@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);


*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --Color-1: #fff;
  --Color-2: rgb(57, 242, 146);
  --Color-3: rgba(38, 38, 38, 0.687);
  --Color-4: rgba(159, 158, 158, 0.311);
  --Color-5: #fff;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}